body{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+32,dbdbdb+58 */
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 32%, #dbdbdb 58%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #ffffff 32%,#dbdbdb 58%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #ffffff 32%,#dbdbdb 58%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dbdbdb',GradientType=0 ); /* IE6-9 */

	background-attachment: fixed;
}